@media (max-width:992px) {
    .red-bg {
        height: 140px;
        top: 140px;
    }
    .ceo-pic-main {
        top: 50px;
    }

    .ceo-pic-cover {
    height: 280px;
    }

    .offk-body {
        background: #181818;
    }

    .offk-body .offcanvas-title {
        color: white;
        font-family: 'Barlow', sans-serif;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        color: white;
        font-size: 14.5px;
        text-transform: uppercase;
        font-family: 'Barlow', sans-serif;
        font-weight: 500;
    }
    
    .navbar .navbar-nav .nav-item .nav-link.active {
        color: #39ff14;
    }
    
    .navbar .navbar-nav .nav-item .nav-link:hover {
        color: #39ff14;
    }
    
    .close-btn {
        color: white !important;
        background: transparent;
        font-size: 20px;
    }

    .dropdown:hover .ak-drop {
        display: none;
    }

    .responsive .show-img img{
      height: 80px;
    }

}

@media (max-width:480px) {
    .red-bg {
        height: 140px;
        top: 140px;
    }

    .ceo-pic-main {
        top: 30px;
    }

    .ceo-pic-cover {
        height: 280px;
    }

    .tab-item:nth-child(1) {
        padding-right: 0px;
    }
    
    .tab-item:nth-child(2) {
        padding-left: 0px;  
        padding-top: 10px;
    }

    .banner-textarea h1 {
        font-size: 33px;
    }

    .float{
        bottom:20px;
        left:20px;
    }

    .proj-area {
        height: 340px;
      }

      .proj-area .image {
        max-height: 340px;
        height: 340px;
        object-fit: scale-down;
      }

      .proj-area .overlay .text .name {
        font-size: 14px;
      }
      
      .proj-area .overlay .text .type {
        font-size: 13px;
      }
      
      .proj-area .overlay .text .starring {
        font-size: 13px;
      }
      
      .proj-area .overlay .text {
        bottom: 20px;
      }

      .video-bg {
        height: 400px;
        min-height: 400px;
        padding-top: 100px;
      }
    
      .video-bg h1 {
        letter-spacing: 5px;
        font-size: 30px;
      }

      .regvideo {
        width: 100%;
        height: 400px;
      }

      .water-mark {
        bottom: 10px;
        left: 10px;
      }
    
      .water-mark .img-watermark {
        width: 125px;
      }

      .playvideo {
        font-size: 17px;
        width: 150px;
      }

      .close-hidden {
        top: 10px;
        right: 10px;
        font-size: 20px;
      }

      .other-banners p {
        font-size: 14px;
      }

      .cam-item .slider-area .item-head {
        font-size: 14px;
      }

      .cam-item .slider-area .item-body {
        font-size: 12px;
      }

      .product-index {
        margin-top: 30px;
      }

      .product-showarea {
        margin-top: 30px;
      }

      .responsive .show-img img{
        height: 120px;
      }

}

@media (max-width:393px) {
    .ceo-pic-main {
        top: 45px;
    }
}

@media (max-width:375px) {
    .ceo-pic-main {
        top: 50px;
    }
}

@media (max-width:360px) {
    .ceo-pic-main {
        top: 35px;
    }
    .red-bg {
        height: 120px;
        top: 120px;
    }
    .ceo-pic-cover {
        height: 240px;
    }
}